<button class="button" (click)="onToggle()">Toggle me</button>
<p class="text" @showState *ngIf="isVisible">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident architecto
  autem dicta soluta unde neque sed, officia optio facilis omnis illum quod,
  sunt est. Quibusdam asperiores quidem necessitatibus numquam impedit? Lorem
  ipsum dolor sit amet consectetur, adipisicing elit. Facere earum harum ad
  autem perspiciatis ratione optio fugit esse ab tempora eaque dolorem,
  repellendus itaque repudiandae amet inventore ipsa? Omnis, tempore! Lorem
  ipsum, dolor sit amet consectetur adipisicing elit. Nulla laborum obcaecati
  omnis quam. Ipsam nesciunt exercitationem ipsa beatae, earum expedita odio
  corrupti eaque eum consectetur animi quibusdam libero sapiente hic.
</p>

<div class="container">
  <button class="button__2" (click)="onShrink()">Shrink me</button>
  <button class="button__2" (click)="onAnimate()">Animate me</button>
</div>

<p
  [@animateState]="animate ? 'animated' : 'noAnimated'"
  class="text"
  [ngStyle]="{ 'width.px': width }"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident architecto
  autem dicta soluta unde neque sed, officia optio facilis omnis illum quod,
  sunt est. Quibusdam asperiores quidem necessitatibus numquam impedit? Lorem
  ipsum dolor sit amet consectetur, adipisicing elit.
</p>

<button class="button" (click)="onAddElement()">Add element</button>
<div @listState class="element" *ngFor="let element of elements">
  {{ element }}
</div>
