<nav class="nav">
  <ul class="list">
    <li
      @showState
      class="list__element"
      routerLink="/simple"
      routerLinkActive="active"
    >
      Simple
    </li>
    <li
      @showState
      class="list__element"
      routerLink="/multiple"
      routerLinkActive="active"
    >
      Multiple
    </li>
    <li
      @showState
      class="list__element"
      routerLink="/pro"
      routerLinkActive="active"
    >
      Pro
    </li>
    <li
      @showState
      class="list__element"
      routerLink="/query"
      routerLinkActive="active"
    >
      Query
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
